/* Materialize Overrides */
.row {
  margin: 0;
}

.card {
  margin: 0;
}

.collapsible-body {
  padding: 0;
}

.timepicker,
.datepicker {
  caret-color: transparent;
}

/* Blue Theme */
body.blue {
  background-color: #f7f7f7 !important;
  font-weight: normal;
}

body.blue nav {
  background-color: #6a8eae;
}

body.blue #new-work-session-btn a {
  background-color: #9bd1e5;
}

body.blue .spinner-layer {
  border-color: #6a8eae;
}

body.blue input[type="submit"] {
  background-color: #6a8eae;
}

body.blue .timepicker-digital-display {
  background-color: #6a8eae;
}

body.blue .timepicker-svg circle {
  fill: #6a8eae;
}

body.blue .timepicker-svg line {
  stroke: #6a8eae;
}

body.blue .datepicker-date-display {
  background-color: #6a8eae;
}

body.blue .datepicker-row td.is-today {
  color: #6a8eae;
}

body.blue .datepicker-row td.is-selected {
  color: #ffffff;
  background-color: #6a8eae;
}

body.blue .confirmation-btns button {
  color: #6a8eae;
}

body.blue input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #6a8eae;
  box-shadow: 0 1px 0 0 #6a8eae;
}

body.blue input:not(.browser-default):focus:not([readonly]) + label {
  color: #6a8eae;
}

body.blue textarea.materialize-textarea:focus:not([readonly]) {
  border: none;
  border-bottom: 1px solid #6a8eae;
  box-shadow: 0 1px 0 0 #6a8eae;
}

body.blue textarea:focus:not([readonly]) + label {
  color: #6a8eae;
}

body.blue .dropdown-content li > a,
.dropdown-content li > span {
  color: #6a8eae;
}

body.blue .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #6a8eae;
}

body.blue .switch label input[type="checkbox"]:checked + .lever {
  background-color: #6a8eae;
}

body.blue .switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #6a8eae;
}

body.blue h1 {
  color: #6a8eae;
}

body.blue #login-form button[type="submit"] {
  background-color: #6a8eae;
}

/* Utility */
.m-1 {
  margin: 10px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation */
#app-location {
  width: 100%;
}

.sidenav-header {
  margin-left: 30px;
}

/* Search Bar */
.search-bar {
  height: 40px;
}

.search-bar .input-field {
  height: 40px;
}

.search-bar .input-field label {
  top: 8px;
  left: 16px;
}

.search-bar .input-field input#search {
  margin: 0;
}

/* Work Sessions */
.work-session-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-session-header + .expand-icon {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.work-session-header + .expand-icon.open {
  transform: rotate(180deg);
}

.work-session-body {
  padding: 10px;
}

.work-session-body > .work-session-id {
  padding-left: 16px;
  margin: 0;
}

#edit-work-session {
  width: 95%;
  height: 100%;
}

#edit-work-session > .modal-footer {
  padding-right: 4px;
  position: absolute;
  bottom: 0px;
}

#new-work-session {
  width: 95%;
  height: 100%;
}

#new-work-session > .modal-footer {
  padding-right: 4px;
  position: absolute;
  bottom: 0px;
}

.modal-spinner {
  position: relative;
}

/* Settings */
.settings-label {
  margin: 0;
}
